<style>
@import url("//cdn.datatables.net/1.10.0/css/jquery.dataTables.css");
@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css");
@import url("//cdn.datatables.net/plug-ins/28e7751dbec/integration/bootstrap/3/dataTables.bootstrap.css");

th {
  text-align: center;
}
td {
  text-align: center;
}
td:nth-child(1), td:nth-child(2) {
  font-size: 1.4em;
}
td:nth-child(4) {
  min-width: 140px;
}
td:nth-child(5) {
  text-align: left;
}
.correct {
  color: #14bd0b;
}
.false {
  color: #ee130d;
}
</style>

<div class="container">
  <h1>Reports</h1>

  <table id="reports" class="display table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th>Fine</th>
        <th>Animal Contact</th>
        <th>Address</th>
        <th>Location</th>
        <th>More Info</th>
        <th>Symptoms</th>
        <th>Created</th>
        <th>Created</th>
      </tr>
    </thead>
  </table>
</div>

<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="//cdn.datatables.net/1.10.0/js/jquery.dataTables.js"></script>
<script src="//cdn.datatables.net/plug-ins/28e7751dbec/integration/bootstrap/3/dataTables.bootstrap.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.min.js"></script>

<script charset="utf-8">
  $(document).ready(function() {
    $('#reports').dataTable({
      "processing": true,
      "deferRender": true,
      "ajax": {
        url: "/reports?offset=0&limit=1000",
        dataSrc: function(json) {
          return json.response.reports.items;
        }
      },
      "order": [ 6, 'desc' ],
      "columnDefs": [
        {
          render: function(data, type, row) {
            return data ? '<span class="correct">✓</span>' : '<span class="false">✗</span>';
          },
          targets: 0
        },
        {
          render: function(data, type, row) {
            return data ? '<span class="correct">✓</span>' : '<span class="false">✗</span>';
          },
          targets: 1
        },
        {
          render: function(data, type, row) {
            return data.subdistrict + ', ' + data.district + ', ' + data.city;
          },
          targets: 2
        },
        {
          render: function(data, type, row) {
            return data.latitude + ', ' + data.longitude;
          },
          targets: 3
        },
        {
          render: function(data, type, row) {
            return data.join(', ');
          },
          targets: 5
        },
        {
          orderData: [ 7, 6 ],
          render: function(data, type, row) {
            var m = moment(data);
            return m.format("YYYY/MM/DD hh:mm") + ' <br>(' + m.fromNow() + ')';
          },
          targets: 6
        },
        {
          type: 'date',
          visible: false,
          targets: 7
        }
      ],
      "columns": [
        { "data": "isFine" },
        { "data": "animalContact" },
        { "data": "address" },
        { "data": "location" },
        { "data": "moreInfo" },
        { "data": "symptoms" },
        { "data": "createdAt" },
        { "data": "createdAt" }
      ]
    });
  });
</script>
