<!DOCTYPE html PUBLIC '-//W3C//DTD XHTML 1.1//EN' 'http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd'>
<html>
<head></head>
<body>
<table cellspacing='0' cellpadding='0' border='0' width='656' bgcolor="#00aeaf">
  <tbody>
    <tr>
      <td height='51' style="text-align:center; padding: 0;float: left;"><img  src='http://doctor.or.th/sites/default/files/sicksense/head.png' alt='DoctorMe Logo' /></td>
    </tr>
    <tr>
      <td><table cellspacing='12' cellpadding='0' border='0' background-color='#00aeaf' width='656' style="border-collapse: collapse;">
          <tbody>
            <tr>
              <td align='center' colspan='4'><div style='background: #fff; margin: 0 20px 20px; padding: 60px 45px 25px; text-align: left;color:#555; -webkit-border-radius: 15px; -moz-border-radius: 15px; border-radius: 15px; backgroud: #fff;'>
                  <p style="line-height: 20px;">คุณได้ทำการขอลิงก์เพื่อตั้งรหัสผ่านใหม่</p>

                  <p style="line-height: 20px;">กรุณาคลิกลิงก์เพื่อตั้งรหัสผ่านใหม่ %reset_password_url%</p>

                  <p style="line-height: 20px;">หากคุณจำรหัสผ่านได้และไม่ต้องการตั้งใหม่ สามารถลบอีเมลนี้ได้เลย</p>

                  <p style="line-height: 20px;">ขอบคุณค่ะ<br>ทีมงาน Sicksense</p>

                  <div align='center'><img src='http://www.sicksense.org/images/logo-footer.png' alt='Logo Footer' title='Logo Footer' /></div>
                </div></td>
            </tr>
            <tr>
              <td colspan='4'><div style="margin-left: 100px;">
                  <div style='float: left; margin: 0 10px 0 0;padding-bottom: 15px;overflow: hidden;'><img height='31' width='88' src='http://doctor.or.th/sites/default/files/doctorme/cc-common.png' alt='CC Creative Common' title='CC Creative Common' /></div>
                  <div style='float: left; color: #333; font-size: 12px;'>เนื้อหานี้ ใช้สัญญาอนุญาตของครีเอทีฟคอมมอนส์แบบ<br />
                    แสดงที่มา-ไม่ใช้เพื่อการค้า-อนุญาตแบบเดียวกัน 3.0 ประเทศไทย</div>
                </div></td>
            </tr>
          </tbody>
        </table></td>
    </tr>
  </tbody>
</table>
</body>
</html>
