<!DOCTYPE html PUBLIC '-//W3C//DTD XHTML 1.1//EN' 'http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd'>
<html>
<head></head>
<body>
<table cellspacing='0' cellpadding='0' border='0' width='656' bgcolor="#00aeaf">
  <tbody>
    <tr>
      <td height='51' style="text-align:center; padding: 0;float: left;"><img  src='http://doctor.or.th/sites/default/files/sicksense/head.png' alt='DoctorMe Logo' /></td>
    </tr>
    <tr>
      <td><table cellspacing='12' cellpadding='0' border='0' background-color='#00aeaf' width='656' style="border-collapse: collapse;">
          <tbody>
            <tr>
              <td align='center' colspan='4'><div style='background: #fff; margin: 0 20px 20px; padding: 60px 45px 25px; text-align: left;color:#555; -webkit-border-radius: 15px; -moz-border-radius: 15px; border-radius: 15px; backgroud: #fff;'>
	              <img src='http://doctor.or.th/sites/default/files/sicksense/ic-mayom-head.png' alt='icon DoctorMe' style='float:left;padding: 0 30px 0 0; float: left;margin-bottom: 20px;'/>
                  <p style="line-height: 20px;">ขอบคุณที่ร่วมเป็นส่วนหนี่งของ Sicksense โครงการภายใต้ความร่วมมือของ <a href="http://www.skollglobalthreats.org/">Skoll Global Threats Fund</a> , <a href="http://www.thaihealth.or.th/">สำนักงานกองทุนสนับสนุนการสร้างเสริมสุขภาพ (สสส.)</a> และ <a href="http://www.opendream.co.th/">โอเพ่นดรีม</a> ในการสร้างเครือข่ายอาสาสมัครดิจิทัลเพื่อร่วมกันหาสัญญาณของโรคระบาดอุบัติใหม่แบบมีส่วนร่วม ผ่านการรายงานสุขภาพของตนเองแบบนิรนาม</p>

                  <p style="line-height: 20px;">ตั้งแต่เมื่อไรไม่รู้ที่มนุษยชาติเราหลงลืมไปว่าภัยคุกคามที่ใกล้ตัวที่สุดคือ โรคระบาดอุบัติใหม่ ลองนึกถึงว่า หากโลกปัจจุบันมีโรคระบาดในระดับเดียวกับไข้หวัดสเปน ในช่วงปี พ.ศ. 2461 - 2463 ที่ทำให้ประชากรโลก 3 - 5% เสียชีวิตในช่วงระยเวลาการระบาด หากจะให้ใกล้ตัวขึ้นอีกนิดก็คือการระบาดไข้หวัดใหญ่สายพันธุ์ใหม่ 2009</p>

                  <p style="line-height: 20px;">เราตั้งเป้าหมายในการเป็นผู้ช่วยของระบบสาธารณะสุขในปัจจุบันเพื่อการค้นหาสัญญาณการเจ็บป่วยแบบ real-time และมีส่วนร่วมผ่านเครื่องมือดิจิทัลต่างๆ ผู้ใช้ในประเทศไทยทุกสามารถเข้าร่วมเป็นอาสาสมัครได้</p>

                  <p style="line-height: 20px;">Sicksense จะเก็บแต่ข้อมูลนิรนามของผู้ใช้และจะใช้งานข้อมูลเหล่านั้นเพื่อการวิเคราะห์หาสัญญาณของโรคระบาดอุบัติใหม่ที่ไม่ใช่เพื่อผลประโยชน์ทางการค้าเท่านั้น</p><br>

                  <div style="text-align: center; background: #e6eeee; clear: both; padding: 20px 20px 35px; margin: 0 0 20px;  border-radius: 5px;  -webkit-border-radius: 5px; -moz-border-radius: 5px;">

	                  <h2 style="margin: 0px 0 25px;color: #323232;">คุณสบายดีไหมจ๊ะ ?</h2>

	                  <a href="https://www.sicksense.org/report.html?isFine=1" style="background-color: #00c3bf;padding: 10px;border-radius: 5px;  -webkit-border-radius: 5px; -moz-border-radius: 5px;color: #fff;text-decoration: none;margin: 0 10px 0 0;"><img src="http://doctor.or.th/sites/default/files/sicksense/ic-good.png" alt="I'm fine" style="width: 20px;vertical-align: middle;margin: 0 5px 0 0;"/>สบายดี</a>
	                  <a href="https://www.sicksense.org/report.html?isFine=0" style="background-color: #00c3bf;padding: 10px;border-radius: 5px;  -webkit-border-radius: 5px; -moz-border-radius: 5px;color: #fff;text-decoration: none;"><img src="http://doctor.or.th/sites/default/files/sicksense/ic-bad.png" alt="I'm sick" style="width: 20px;vertical-align: middle;margin: 0 5px 0 0;"/>มีอาการ</a>
                  </div>

                  <div align='center'><img src='http://doctor.or.th/sites/default/files/sicksense/logo-footer.png' alt='Logo Footer' title='Logo Footer' /></div>

                  <div style="border-top: 1px solid #e7e7e7;margin: 20px 0 0;padding: 15px 0;text-align: center;">
                      <a href="%unsubscribe_url%" style="font-size: 12px;color: #666;">ยกเลิกการแจ้งเตือนทางอีเมล</a>
                  </div>
                </div></td>
            </tr>
            <tr>
              <td colspan='4'><div style="margin-left: 100px;">
                  <div style='float: left; margin: 0 10px 0 0;padding-bottom: 15px;overflow: hidden;'><img height='31' width='88' src='http://doctor.or.th/sites/default/files/doctorme/cc-common.png' alt='CC Creative Common' title='CC Creative Common' /></div>
                  <div style='float: left; color: #333; font-size: 12px;'>เนื้อหานี้ ใช้สัญญาอนุญาตของครีเอทีฟคอมมอนส์แบบ<br />
                    แสดงที่มา-ไม่ใช้เพื่อการค้า-อนุญาตแบบเดียวกัน 3.0 ประเทศไทย</div>
                </div></td>
            </tr>
          </tbody>
        </table></td>
    </tr>
  </tbody>
</table>
</body>
</html>
